// Define the minQuery mixin
@mixin minQuery($min-width) {
  @media (min-width: #{$min-width}px) {
    @content;
  }
}

// Define the maxQuery mixin
@mixin maxQuery($max-width) {
  @media (max-width: #{$max-width}px) {
    @content;
  }
}

.analytics-page-height {
  min-height: 91vh;

  @include maxQuery(700) {
    min-height: 87.5vh;
  }
}

.burning-section {
  background: linear-gradient(135deg, #38b74e 0%, #0b6e6f 100%);
  background-size: cover;
  color: white;
  font-family: "Red Rose", serif !important;
  //box-shadow: 5px 0 15px rgba(63, 142, 90, 0.4), -5px 0 15px rgba(63, 142, 90, 0.4);
}

.label-bg {
  background-color: rgba(12, 12, 12, 0.8) !important;
}

.label2-bg {
  background-color: rgba(255, 255, 255, 0.9) !important;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

.adress-text {
  color: white;
  font-size: 12px !important;
  margin-bottom: 16px;
}

.address-copy-text {
  padding: 0.25rem 0.65rem;
  border-radius: 16px;
  border: 1px solid rgba(63, 172, 90, 0.8);
}

.portfolio-container {
  background-color: rgba(32, 32, 32, 0.5);
  border-radius: 10px;
  padding: 28px;
}

.rewards-container {
  background: linear-gradient(180deg, #2e693896 0%, #123c3d79 100%);
  border-radius: 10px;
  padding: 28px;
}

.token-row-icon {
  font-size: 35px !important;
  color: rgb(90, 214, 121);
}

.token-row-icon.smaller {
  font-size: 30px !important;
}

.arrow-box {
  position: relative;
  background-color: rgba(26, 26, 26, 1);
  color: white;
  display: inline-block;
  border-radius: 5px;
}

.arrow-box::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -13px;
  /* Adjusts triangle position */
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 15px solid rgba(26, 26, 26, 1);
  /* Triangle color same as background */
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  z-index: 3;
}

.overflow-auto {
  scrollbar-width: none;
  /* Hide scrollbar */
  -ms-overflow-style: none;
  /* Hide scrollbar in IE */
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}

.overflow-auto::-webkit-scrollbar {
  display: none;
}