// Define the minQuery mixin
@mixin minQuery($min-width) {
  @media (min-width: #{$min-width}px) {
    @content;
  }
}

// Define the maxQuery mixin
@mixin maxQuery($max-width) {
  @media (max-width: #{$max-width}px) {
    @content;
  }
}

.pool {
  padding: 15px;
  background-color: #17181d;
  border-radius: 10px;
  margin-top: 3px;

  &:hover {
    background-color: #1f2027;
    cursor: pointer;
  }
}