// Define the minQuery mixin
@mixin minQuery($min-width) {
  @media (min-width: #{$min-width}px) {
    @content;
  }
}

// Define the maxQuery mixin
@mixin maxQuery($max-width) {
  @media (max-width: #{$max-width}px) {
    @content;
  }
}

.swap-container {
  padding: 25px;
  background-color: rgba(34, 34, 34, 0.6);
  border-radius: 10px;
  box-shadow: 10px 0 40px rgba(63, 142, 90, 0.1), -10px 0 40px rgba(63, 142, 90, 0.1);

  @include maxQuery(700) {
    border-radius: 15px;
    padding: 15px;
  }
}

.swap-token-container {
  background-color: rgba(18, 18, 18, 0.7);
  border-radius: 15px;
  padding: 5px;
  border: 1px solid rgba(18, 18, 18, 0.7);
  box-shadow: 10px 0 40px rgba(63, 142, 90, 0.1), -10px 0 40px rgba(63, 142, 90, 0.1);

  @include maxQuery(700) {
    font-size: 12px !important;
  }
}

.selected-side {
  border: 1px solid #3fac5a;
  box-shadow: 1px 0 15px rgba(63, 172, 90, 0.3), -1px 0 15px rgba(63, 172, 90, 0.3),
    0 1px 15px rgba(63, 172, 90, 0.3), 0 -1px 15px rgba(63, 172, 90, 0.3);
}

.input-container {
  &:hover {
    background-color: rgba(56, 56, 56, 0.3);
    cursor: pointer;
  }

  @include maxQuery(700) {
    padding: 2px;
  }
}

.input-container2 {
  background-color: rgba(63, 172, 90, 0.6);

  &:hover {
    background-color: rgba(74, 206, 107, 0.6);
    cursor: pointer;
  }

  @include maxQuery(700) {
    padding: 2px;
  }
}

.token-search-container {
  background-color: rgba(18, 18, 18, 0.3);
  border-radius: 20px;
}

.swap-delimitator {
  margin-top: -25px !important;
  margin-bottom: -25px;
}

.swap-delimitator-icon {
  background-color: rgba(63, 172, 90, 0.8);
  font-size: 30px;
  padding-left: 8px;
  padding-right: 8px;
  color: rgba(10, 10, 10, 0.8);
  border-radius: 30px;
  border: 4px solid rgba(20, 20, 20, 1);
}

.animated-icon {
  transition: all 500ms ease-in 0s !important;
  cursor: pointer;
}

.animated-icon:hover {
  transform: rotate(180deg);
}

.full-animated-icon {
  transition: transform 500ms ease-in-out;
  cursor: pointer;
}

.full-animated-icon:hover {
  animation: rotateInfinite 2s linear infinite;
}

@keyframes rotateInfinite {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.swap-delimitator-icon {
  position: relative;
}

.swap-delimitator-icon .hover-icon {
  display: none;
}

.swap-delimitator-icon:hover .default-icon {
  display: none;
}

.swap-delimitator-icon:hover .hover-icon {
  display: inline-block;
}

.full-blinking-icon {
  animation: blinkAnimation 1.5s infinite;
  cursor: pointer;
}

@keyframes blinkAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.token-list-item {
  border-radius: 10px !important;
  box-shadow: 10px 0 30px rgba(63, 142, 90, 0.2), -10px 0 30px rgba(63, 142, 90, 0.2);
}

.token-list-item:hover,
.token-list-item:active {
  background-color: rgba(50, 50, 50, 0.6) !important;
}

.close-button:hover {
  background-color: #041810 !important;
}

.swap-page-height {
  min-height: 88vh;

  @include maxQuery(700) {
    min-height: 87.1vh;
  }
}