// Define the minQuery mixin
@mixin minQuery($min-width) {
  @media (min-width: #{$min-width}px) {
    @content;
  }
}

// Define the maxQuery mixin
@mixin maxQuery($max-width) {
  @media (max-width: #{$max-width}px) {
    @content;
  }
}

@mixin betweenQuery($min-width, $max-width) {
  @media (min-width: #{$min-width}px) and (max-width: #{$max-width}px) {
    @content;
  }
}

.tools-page-height {
  min-height: 90.5vh;

  @include maxQuery(700) {
    min-height: 87.5vh;
  }
}

.create-token-container {
  background-color: rgba(40, 40, 40, 0.6);
  border-radius: 10px;
  box-shadow: 10px 0 40px rgba(63, 142, 90, 0.1), -10px 0 40px rgba(63, 142, 90, 0.1);
}

.tools-title:hover p {
  color: #3FAC5A !important;
}
.tools-title:hover svg {
  color: #3FAC5A !important;
}

.tool-active {
  border: 2px solid #3FAC5A;
  box-shadow: 0 10px 20px rgba(63, 142, 90, 0.5),  0 -10px 20px rgba(63, 142, 90, 0.5);
}

.active-title:hover {
  color: #3FAC5A !important;
}