// Define the minQuery mixin
@mixin minQuery($min-width) {
  @media (min-width: #{$min-width}px) {
    @content;
  }
}

// Define the maxQuery mixin
@mixin maxQuery($max-width) {
  @media (max-width: #{$max-width}px) {
    @content;
  }
}

.unlock-page-height {
  min-height: 68vh;

  @include maxQuery(700) {
    min-height: 66.1vh;
  }
}

.container-bg {
  margin-top: 20vh !important;

  @include maxQuery(700) {
    margin-top: 20vh !important;
  }
}