// Define the minQuery mixin
@mixin minQuery($min-width) {
  @media (min-width: #{$min-width}px) {
    @content;
  }
}

// Define the maxQuery mixin
@mixin maxQuery($max-width) {
  @media (max-width: #{$max-width}px) {
    @content;
  }
}

.unlock-page-height {
  min-height: 91vh;

  @include maxQuery(700) {
    min-height: 87.5vh;
  }
}

.container-bg {
  margin-top: 7.5vh !important;

  @include maxQuery(700) {
    margin-top: 17vh !important;
  }
}

.wallet-container {
  position: relative;
  display: flex;
  align-items: center;
}

.wallet-logo.normal {
  display: inline-block;
}

.wallet-logo.hover {
  display: none;
}

.wallet-container:hover .wallet-logo.normal {
  display: none;
}

.wallet-container:hover .wallet-logo.hover {
  display: inline-block;
}