.header-area1 {
  background-color: rgba(20, 20, 20, 1);
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-area2 {
  background-color: rgba(20, 20, 20, 1);
  box-shadow: 0 7px 7px rgba(63, 142, 90, 0.1);
}

.nav-social-media-icon {
  color: white !important;
}

.nav-social-media-icon:hover,
.nav-social-media-icon:focus,
.nav-social-media-icon:active {
  color: #3FAC5A !important;
}

.half-colored-d {
  background: linear-gradient(to right, #3FAC5A 55%, #ffffff 45%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-brand {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.nav-link {
  margin-bottom: 0;
  min-width: 60px;
  color: rgb(241, 234, 234) !important;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700 !important;
  line-height: 0;
  padding: 7px 10px;
}

.link:hover,
.link:focus,
.link:active,
.active .link {
  color: #3FAC5A !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FFFFFF' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border: none !important;
}

.nav-link-icon {
  margin-right: 5px;
  margin-left: -5px;
  margin-top: -5px;
  font-size: 18px !important;
}