.text-brand {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.nav-link {
  margin-bottom: 0;
  min-width: 60px;
  color: rgb(241, 234, 234) !important;
  font-family: 'Plain', sans-serif;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
}

.nav-link.active::before {
  content: '';
  color: #1a9765;
  position: relative;
  display: block;
  top: -9px;
  text-align: center;
  margin-bottom: -2px;
  border-bottom: 2px solid
}


.link:hover,
.link:focus,
.link:active,
.active .link {
  color: #1a9765 !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FFFFFF' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border: none !important;
}

.nav-link-icon{
  margin-right: 5px;
  margin-left: -5px;
  margin-top: -5px;
  font-size: 18px !important;
}