@font-face {
  font-family: 'Red Rose';
  src: url('../fonts/RedRose-Regular.ttf') format('truetype');
  font-weight: 400;
  /* Normal weight */
  font-style: normal;
}

@font-face {
  font-family: 'Red Rose';
  src: url('../fonts/RedRose-Bold.ttf') format('truetype');
  font-weight: 700;
  /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: 'Red Rose';
  src: url('../fonts/RedRose-Light.ttf') format('truetype');
  font-weight: 300;
  /* Light weight */
  font-style: normal;
}

@font-face {
  font-family: 'Red Rose';
  src: url('../fonts/RedRose-Medium.ttf') format('truetype');
  font-weight: 500;
  /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family: 'Red Rose';
  src: url('../fonts/RedRose-SemiBold.ttf') format('truetype');
  font-weight: 600;
  /* Semi-Bold weight */
  font-style: normal;
}

@font-face {
  font-family: 'Red Rose';
  src: url('../fonts/RedRose-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  /* Variable font with weight range */
  font-style: normal;
}


html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'Red Rose', serif !important;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/bg1.png') no-repeat center center;
  background-color: #041810;
  background-size: cover;
  z-index: -1;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #062418;
}

::-webkit-scrollbar-thumb {
  background-color: #3FAC5A;
  border-radius: 10px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3FAC5A #202020;
}

.footer-area {
  background-color: #141414;
  box-shadow: 0 -12px 7px rgba(63, 142, 90, 0.1);
  padding-top: 12px;
  padding-bottom: 10px;
  bottom: 0;
}

.font-rose {
  font-family: 'Red Rose' !important;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(176px);
  z-index: -1;
}

.gradient {
  position: absolute;
  border-radius: 100%;
  opacity: 0.73;
  mix-blend-mode: screen;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
}


.gradient-1 {
background: rgb(31, 55, 142) none repeat scroll 0% 0% / auto padding-box border-box;
width: 700px;
height: 700px;
animation-duration: 14s;
opacity: 0.73;
left: 60%;
top: 40%;
z-index: -20;
animation-name: animation-gradient-1;
}
.gradient-2 {
background: rgb(97, 182, 69) none repeat scroll 0% 0% / auto padding-box border-box;
width: 600px;
height: 600px;
animation-duration: 5s;
opacity: 0.73;
left: 40%;
top: 60%;
z-index: -10;
animation-name: animation-gradient-2;
}
.gradient-3 {
background: rgb(37, 165, 135) none repeat scroll 0% 0% / auto padding-box border-box;
width: 500px;
height: 500px;
animation-duration: 5s;
opacity: 0.73;
left: 50%;
top: 50%;
z-index: -30;
animation-name: animation-gradient-3;
}

@keyframes animation-gradient-1 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
      rotate(80deg) translateX(30%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
      rotate(240deg) translateX(15%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
  }
}

@keyframes animation-gradient-2 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
      rotate(110deg) translateX(-5%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
      rotate(300deg) translateX(-10%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
  }
}

@keyframes animation-gradient-3 {
  0% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%)
      translateY(10%);
  }
  20% {
    transform: translateY(-50%) translateX(-50%) translateX(20%)
      translateY(-30%);
  }
  40% {
    transform: translateY(-50%) translateX(-50%) translateX(-25%)
      translateY(-15%);
  }
  60% {
    transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
  }
  80% {
    transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%)
      translateY(10%);
  }
}