.MuiTable-root {
  border-radius: 10px;
  border-collapse: separate;
  border-spacing: 0 10px;
  border: transparent;
}

.MuiTableHead-root {
  background-color: transparent !important;
  color: white;
}

.MuiTableRow-root {
  border: 10px solid transparent;
}

.MuiTableCell-root {
  /* background-color: rgba(20,20,20, 0.7) !important; */
  color: white !important;
}

.MuiTableContainer-root {
  box-shadow: none;
}

.MuiTable-root th,
.MuiTable-root td {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ticker-text {
  min-width: 100px; /* Adjust width as needed to align with the price */
  text-align: left;
}

.price-text {
  min-width: 100px; /* Same width as ticker-text for alignment */
  text-align: right; /* Align price to the right */
}

.pagination-controls {
  text-align: right;
  margin-top: 15px;
  color: rgba(255,255,255, 0.7);
  font-size: 13px;
}

.pagination-button {
  min-width: 1px !important;
}

.active-arrow {
  color: white;
  font-size: 16px !important;
  font-weight: bolder;
  margin-top: -2px;
}

.disabled-arrow {
  color: rgba(200, 200, 200, 0.6);
  font-size: 16px !important;
  font-weight: bolder;
  margin-top: -2px;
}